package index

templ Index(name string) {
   <link rel="stylesheet" href="/static/css/tailwind.css" />
    <div class="navbar bg-yellow-400">
          <a class="btn btn-ghost text-xl">Hello, World!</a>
        </div>
}
